pipeline/tablenames.json
{
	"name": "tablenames",
	"properties": {
		"activities": [
			{
				"name": "getfilenames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "az_synapse_yelp_DL",
						"type": "DatasetReference",
						"parameters": {
							"table": "tbl"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "loopOnfiles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getfilenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getfilenames').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "activityOneachFile",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ETL",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"tablename": {
										"value": "@{item().name}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "user_cleaning",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "business_cleaning",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "yelp_user_DataFlow",
						"type": "DataFlowReference"
					},
					"staging": {
						"linkedService": {
							"referenceName": "movielensproject-asa-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "data"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "business_cleaning",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "loopOnfiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "yelp_business_DataFlow",
						"type": "DataFlowReference"
					},
					"staging": {
						"linkedService": {
							"referenceName": "movielensproject-asa-WorkspaceDefaultStorage",
							"type": "LinkedServiceReference"
						},
						"folderPath": "data"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-02-05T15:29:28Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}